REACT_APP_API_URL=http://localhost:4000/graphql
REACT_APP_API_URL_WS=ws://localhost:4000/subscriptions

REACT_APP_APP_STORE_LINK=https://apps.apple.com/gb/app/instagram/id389801252
REACT_APP_PLAY_STORE_LINK=https://apps.apple.com/gb/app/instagram/id389801252

REACT_APP_DEEP_LINKING_BASE_URL=

REACT_APP_ONESIGNAL_APPID=