# Home - some systems support tilde some don't
HOME=/Users/username

# App
XWORKSPACE_NAME={{name}}.xcworkspace
XPROJECT_NAME={{name}}.xcodeproj
XTARGET_NAME={{name}}
SCHEME_NAME={{name}}
BASE_BUNDLE_ID=
APP_NAME=

# Browserstack
BROWSERSTACK_USERNAME=
BROWSERSTACK_ACCESS_KEY=

# Onesignal
ONESIGNAL_DEBUG_AUTH_TOKEN=
ONESIGNAL_BETA_AUTH_TOKEN=
ONESIGNAL_RELEASE_AUTH_TOKEN=