<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>923259272645-2a6mtmti045nrubclvfbfaroi15eob6b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923259272645-2a6mtmti045nrubclvfbfaroi15eob6b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>923259272645-b524vkidlg1jgkb0rumfhli8ckeu0kmo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDlI1lylIGt5tL4ccg0uswHkNBukOf2AX0</string>
	<key>GCM_SENDER_ID</key>
	<string>923259272645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>live.selecta.app.debug</string>
	<key>PROJECT_ID</key>
	<string>selecta-live-1601575055552</string>
	<key>STORAGE_BUCKET</key>
	<string>selecta-live-1601575055552.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923259272645:ios:ae28c1e0b6ae1d85961fac</string>
	<key>DATABASE_URL</key>
	<string>https://selecta-live-1601575055552.firebaseio.com</string>
</dict>
</plist>