# Browserstack
BROWSERSTACK_USERNAME=
BROWSERSTACK_ACCESS_KEY=

# Onesignal
ONESIGNAL_DEBUG_AUTH_TOKEN=
ANDROID_DEBUG_SENDER_ID=
ANDROID_DEBUG_SERVER_KEY=

ONESIGNAL_BETA_AUTH_TOKEN=
ANDROID_BETA_SENDER_ID=
ANDROID_BETA_SERVER_KEY=

ONESIGNAL_RELEASE_AUTH_TOKEN=
ANDROID_RELEASE_SENDER_ID=
ANDROID_RELEASE_SERVER_KEY=
